<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Clima</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]='city' name='search' placeholder="City">
      <select class="form-control mr-sm-2" [(ngModel)]='code' name='search' placeholder="Code">
           <option value="" ></option>
           <option value="BR"> BR </option>
           <option value="US"> US </option>
      </select>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="actionSearch()" type="button">Search</button>
    </form>
   </div>
</nav>

<div class="jumbotron text-center">
  <div class="container"  *ngIf="info">
      <h1 class="display-4">City, {{info.city.name}} !</h1>
  </div>
  <div class="container" *ngIf="!info && !error" >
      <h2 class="display-4">No City Found...</h2>
  </div>
  <div class="container" *ngIf="error" >
      <h2 class="display-4">City {{city}} was not found...</h2>
  </div>
</div>

<div class="container" *ngIf="info" >
  <div class="row">
    <h2 class="col-12 text-center mt-5 mb-5"><b>Longitude: {{info.city.coord.lon}} | longitude: {{info.city.coord.lat}}</b></h2>
  </div>
  <div class="row" *ngFor="let item of info.list" class="jumbotron" >
    <h4 class="col-12"><strong>Date</strong>: {{item.dt_txt}}</h4><br>
    <h4 class="col-12"><strong>Temperature</strong>: {{item.main.temp}}</h4><br>
    <h4 class="col-12"><strong>Max:</strong> {{item.main.temp_max}}</h4><br>
    <h4 class="col-12"><strong>Min:</strong> {{item.main.temp_min}}</h4><br>
    <h4 class="col-12"> <strong>Weather Description:</strong> {{item.weather[0].description}}</h4><br>
    <h4 class="col-12"> <strong>Humidity:</strong> {{item.main.humidity}}</h4>
  </div>
</div>


